CREATE TABLE IF NOT EXISTS market_signals (signal_id UUID, detected_at DateTime64(3, 'UTC'), instrument_id String, ticker String, class_code String, alias String, source_event_type String, signal_type String, severity String, metric_value Float64, baseline_value Float64, z_score Float64, window_seconds Int32, summary String, payload_json String) ENGINE = MergeTree() ORDER BY (detected_at, ticker);
